/* body {
  padding: 20px;
  letter-spacing: 1px;
} */

.active {
  font-weight: bold;
}

.register-form {
  margin-top: 20px;
}

.form-details {
  margin-top: 20px;
}

.form-details > div {
  margin: 10px;
}
.page-title {
  font-size: 32px;
  margin: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
}
.App {
  font-family: "SF Pro Text";
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
}
#home {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
