#navlinks ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin: 10px 0;
}

#navlinks li {
    margin: 0 10px;
}

#navlinks a {
    color: white;
    text-decoration: none;
}