body {
    background-color: rgb(175, 226, 238);
    color: rgb(137, 17, 193);
}

.App {
    padding: 1vw;
}

.App-link {
    color: #0b4b5c;
}

.App li {
    padding: 2vh;
    /* list-style-type: "✔️"; */
}